@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --yellow: hsl(51, 100%, 49%);
    --red: hsl(7, 99%, 70%);
    --dgblue: hsl(232, 10%, 55%);
    --dcyan: hsl(167, 40%, 24%);
    --dblue: hsl(198, 62%, 26%);
    --gblue: hsl(210, 4%, 67%);
    --vdblue: hsl(212, 27%, 19%);
    --vdgblue: hsl(213, 9%, 39%);
    --dmcyan: hsl(168, 34%, 41%);
}

.mobile {display: none;}
.container-fluid {
    max-width: 1440px;
    padding: 0;
    flex-wrap: wrap!important;
}

nav.navbar {
    position: absolute;
    left: 2%;
    right: 2%;
    font-weight: 600;
    font-family: 'Barlow';
}

.nav-item a.nav-link {
    border-radius: 25px;
    margin: 0 15px;
    padding: 10px 25px;
    color: var(--white);
    
}

li.nav-item {
    width: 125px;
    text-align: center;
}

.nav-item a.nav-link.colors {
    color: var(--white);
    transition: background-color linear 0.3s;
}

.nav-item a.nav-link.colors:hover {
    color: var(--vdblue);
    background-color: var(--white);
    text-transform: uppercase;
}

.nav-item a.nav-link.colors:focus {
    color: var(--white);
    text-transform: uppercase;
    background-color: hsla(0, 0%, 100%, 0.3);
}


.header {
    position: relative;
    
}

img {width: 100%;}

h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    font-family: 'Fraunces';
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--white);
    text-align: center;
}

h1 img {
    display: block;
    width: 30px;
    margin: auto;
    margin-top: 2%;
}

h2, h3, h4 {font-family: 'Fraunces';}

h2 {color: var(--vdblue);}

h4 {
color: var(--vdblue);
text-align: center;
font-weight: 900;}

.testimonials h3 {margin: 20% 0% 5% 0%;
    color: var(--gblue);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;}

.row {
    align-items: center;
    background-color: hsla(51, 100%, 49%, 0.05);
}

.desc img {width: 100%;}

.col, .col-6, .col-12 {margin: 0!important; padding: 0!important}

a.yellow, a.yellow:hover, a.pink, a.pink:hover {
    position: relative;
    font-family: 'Fraunces';
    text-transform: uppercase;
    color: var(--vdblue);
    font-weight: 900;
    text-decoration: none;
    margin: 2%;
}

a.yellow:after {
    display: block;
    content: '';
    position: absolute;
    top: 65%;
    left: -2px;
    width: calc(100% + 4px);
    height: 8px;
    background: hsla(51, 100%, 49%, 0.3);
    border-radius: 12%;
    z-index: -1;
    transition: 0.2s linear all;
}

a.pink:after {
    display: block;
    content: '';
    position: absolute;
    top: 65%;
    left: -2px;
    width: calc(100% + 4px);
    height: 8px;
    background: hsla(7, 99%, 70%, 0.3);
    border-radius: 12%;
    z-index: -1;
    transition: 0.2s linear all;
}

a.yellow:hover:after {
    background-color: var(--yellow);
}

a.pink:hover:after {
    background-color: var(--red);
}

.desc, .desc2 {
    padding: 8%!important;
}

.desc p, .desc2 p {
    color: hsl(232, 10%, 55%);
    font-weight: 600;
}

h2.position-absolute {
    top: 65%;
    text-align: center;
    width: 100%;
}

p.position-absolute {
    top: 75%;
    text-align: center;
    margin: 0 15%;
}

.green {color: var(--dcyan); font-weight: 600;}
.blue {color: var(--dblue); font-weight: 600;}

.card-group {
    margin-bottom: 10%;
}

.card {background: transparent!important}

img.card-img-top {
    border-radius: 100%!important;
    padding: 10% 37%;
}

.card-text {color: var(--vdgblue);
    font-weight: 600;
    text-align: center;}

    small {display: block;
        font-family: Barlow;
    font-weight: 600;
    color: var(--gblue);
text-align: center;}

div.footer {background: var(--dmcyan);
}

img.footer {
    filter: invert(52%) sepia(21%) saturate(950%) hue-rotate(101deg) brightness(59%) contrast(99%);
    width: 15%;
    margin: 0 auto;
    margin-top: 8%;
    margin-bottom: 2%;
}

img.icon {width: 25px;
    margin: 2% 0.5%;
    margin-bottom: 5%;
transition: all 0.2s linear;}

img.icon:hover {
    filter: invert(50%) sepia(0%) saturate(0) hue-rotate(0deg) brightness(355%) contrast(100%);
}


a.links {
    text-decoration: none;
    color: var(--dcyan);
    font-weight: 500;
    transition: all 0.2s linear;
}

a.links:hover {color: var(--white)}

@media screen and (max-width: 990px) {
    .container-fluid {width: 100%;}
    .row.reverse {
        flex-direction: column-reverse;
    }

    .desktop {display: none;}
    .mobile {display: block;}

    h1 {top: 40%;}

    .card-group {flex-direction: column!important;}

    img.footer {width: 30%;
    margin-top: 10%;
    margin-bottom: 4%;}

    img.icon {
        margin: 4% 1%;
    margin-bottom: 10%;
    }

    .navbar-collapse {
        width: 100%;
    }

    ul.navbar-nav {
        position: relative;
        top: 40px;
        max-width: 400px;
        background: var(--white);
        align-items: center;
        padding: 5%;
        z-index: 2;
    }

    ul.navbar-nav:after {
        position: absolute;
        display: block;
        content: '';
        top: -25px;
        right: 0;
        width: 0;
        height: 0;
        border-bottom: 25px solid var(--white);
        border-left: 20px solid transparent;
      }

    li.nav-item {width: auto;}

    .nav-item a.nav-link.colors {
        color: var(--dgblue);
        text-align: center;
        padding: 10px 30px;
        margin: 10px auto; }

    .nav-item.contact a.nav-link {
        background-color: var(--yellow);
    text-transform: uppercase;
font-family: Fraunces;
font-weight: 600;
color: var(--vdblue);}

    .nav-item.contact a.nav-link:hover {
        background-color: var(--red);
    }

    .navbar-toggler {padding: 0!important;
    margin: 0;}
    .navbar-dark .navbar-toggler-icon {
        transition: 0.5s linear all;
    }

    .navbar-dark .navbar-toggler-icon:hover {
        filter: brightness(0.5);
    }

    .navbar-toggler:focus {box-shadow: none!important;
    }
    
}

