@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --yellow: hsl(51, 100%, 49%);
    --red: hsl(7, 99%, 70%);
    --dgblue: hsl(232, 10%, 55%);
    --dcyan: hsl(167, 40%, 24%);
    --dblue: hsl(198, 62%, 26%);
}


.container-fluid {
    max-width: 1440px;
    min-width: 1080px;
    padding: 0; }

nav.navbar {
    position: absolute;
    left: 2%;
    right: 2%;
    font-weight: 600;
    font-family: 'Barlow';
}

.nav-item a.nav-link {
    border-radius: 25px;
    margin: 0 15px;
    padding: 10px 25px;
    color: var(--white);
}

.nav-item a.nav-link.colors {
    color: var(--white);
    transition: background-color linear 0.3s;
}

.nav-item a.nav-link.colors:hover {
    color: var(--black);
    background-color: var(--white);
    text-transform: uppercase;
}

.nav-item a.nav-link.colors:focus {
    color: var(--white);
    text-transform: uppercase;
    background-color: hsla(0, 0%, 100%, 0.3);
}


.header {
    position: relative;
    
}

img {width: 100%;}

h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    font-family: 'Fraunces';
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--white);
    text-align: center;
}

h1 img {
    display: block;
    width: 30px;
    margin: auto;
    margin-top: 2%;
}

h2 {font-family: 'Fraunces';}

.row {
    align-items: center;
    background-color: hsla(51, 100%, 49%, 0.05);
}

.desc img {width: 100%;}

.col, .col-6, .col-12 {margin: 0!important; padding: 0!important}

a.yellow, a.yellow:hover, a.pink, a.pink:hover {
    position: relative;
    font-family: 'Fraunces';
    text-transform: uppercase;
    color: black;
    font-weight: 900;
    text-decoration: none;
    margin: 2%;
}

a.yellow:after {
    display: block;
    content: '';
    position: absolute;
    top: 65%;
    left: -2px;
    width: calc(100% + 4px);
    height: 8px;
    background: hsla(51, 100%, 49%, 0.3);
    border-radius: 12%;
    z-index: -1;
    transition: 0.2s linear all;
}

a.pink:after {
    display: block;
    content: '';
    position: absolute;
    top: 65%;
    left: -2px;
    width: calc(100% + 4px);
    height: 8px;
    background: hsla(7, 99%, 70%, 0.3);
    border-radius: 12%;
    z-index: -1;
    transition: 0.2s linear all;
}

a.yellow:hover:after {
    background-color: var(--yellow);
}

a.pinkgit :hover:after {
    background-color: var(--red);
}

.desc, .desc2 {
    padding: 10%!important;
}

.desc p, .desc2 p {
    color: hsl(232, 10%, 55%);
    font-weight: 600;
}

h2.position-absolute {
    top: 65%;
    text-align: center;
    width: 100%;
}

p.position-absolute {
    top: 75%;
    text-align: center;
    margin: 0 15%;
}

.green {color: var(--dcyan); font-weight: 600;}
.blue {color: var(--dblue); font-weight: 600;}