@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}


.container-fluid {
    max-width: 1440px;
    padding: 0; }

nav.navbar {
    position: absolute;
    left: 2%;
    right: 2%;
    font-weight: 600;
    font-family: 'Barlow';
}

.nav-item a.nav-link {
    border-radius: 25px;
    margin: 0 15px;
    padding: 10px 25px;
    color: var(--white);
}

.nav-item a.nav-link.colors {
    color: var(--white);
    transition: background-color linear 0.3s;
}

.nav-item a.nav-link.colors:hover {
    color: var(--black);
    background-color: var(--white);
    text-transform: uppercase;
}

.nav-item a.nav-link.colors:focus {
    color: var(--white);
    text-transform: uppercase;
    background-color: hsla(0, 0%, 100%, 0.3);
}


.header {
    position: relative;
    
}

img {width: 100%;}

h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    font-family: 'Fraunces';
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--white);
    text-align: center;
}

h1 img {
    display: block;
    width: 30px;
    margin: auto;
    margin-top: 2%;
}

.row {
    align-items: center;
    background-color: hsla(51, 100%, 49%, 0.05);
}

.row a, .row p, .row h2 {
    padding: 0px 20%;
}

.desc img {width: 100%;}

.col, .col-6, .col-12 {margin: 0!important; padding: 0!important}
